<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.views">
		<category id="org.xwiki.eclipse" name="XWiki Eclipse">
      </category>
  <view
        category="org.xwiki.eclipse"
        class="org.xwiki.eclipse.ui.views.PagePreview"
        icon="icons/xwiki.png"
        id="org.xwiki.eclipse.ui.views.PagePreview"
        name="XWiki Page Preview"
        restorable="true">
  </view>
  <view
        category="org.xwiki.eclipse"
        class="org.xwiki.eclipse.ui.views.XWikiNavigator"
        icon="icons/xwiki.png"
        id="org.xwiki.eclipse.ui.views.Navigator"
        name="XWiki Eclipse navigator"
        restorable="true">
  </view>
	</extension>
	<extension point="org.eclipse.core.runtime.adapters">
		<factory adaptableType="org.xwiki.eclipse.storage.DataManager" class="org.xwiki.eclipse.ui.adapters.AdapterFactory">
			<adapter type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
			<adapter type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
   <adapter
         type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
   </adapter>
		</factory>
		<factory adaptableType="org.xwiki.eclipse.model.XWikiEclipseWikiSummary" class="org.xwiki.eclipse.ui.adapters.AdapterFactory">
			<adapter type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
   <adapter
         type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
   </adapter>
		</factory>
		<factory adaptableType="org.xwiki.eclipse.model.XWikiEclipseSpaceSummary" class="org.xwiki.eclipse.ui.adapters.AdapterFactory">
			<adapter type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
   <adapter
         type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
   </adapter>
		</factory>
		<factory adaptableType="org.xwiki.eclipse.model.XWikiEclipsePageSummary" class="org.xwiki.eclipse.ui.adapters.AdapterFactory">
			<adapter type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
   <adapter
         type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
   </adapter>
		</factory>
		<factory adaptableType="org.xwiki.eclipse.model.XWikiEclipseObjectCollection" class="org.xwiki.eclipse.ui.adapters.AdapterFactory">
			<adapter type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
   <adapter
         type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
   </adapter>
		</factory>		
	<factory adaptableType="org.xwiki.eclipse.model.XWikiEclipseClass" class="org.xwiki.eclipse.ui.adapters.AdapterFactory">
			<adapter type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
   <adapter
         type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
   </adapter>
		</factory>		
  <factory
        adaptableType="org.xwiki.eclipse.model.XWikiEclipseObjectSummary"
        class="org.xwiki.eclipse.ui.adapters.AdapterFactory">
     <adapter
           type="org.eclipse.ui.model.IWorkbenchAdapter">
     </adapter>
  </factory>
  <factory
        adaptableType="org.xwiki.eclipse.model.XWikiEclipseAttachment"
        class="org.xwiki.eclipse.ui.adapters.AdapterFactory">
     <adapter
           type="org.eclipse.ui.model.IWorkbenchAdapter">
     </adapter>
  </factory>
  <factory
        adaptableType="org.xwiki.eclipse.model.XWikiEclipseTag"
        class="org.xwiki.eclipse.ui.adapters.AdapterFactory">
     <adapter
           type="org.eclipse.ui.model.IWorkbenchAdapter">
     </adapter>
  </factory>
  <factory
        adaptableType="org.xwiki.eclipse.model.XWikiEclipseComment"
        class="org.xwiki.eclipse.ui.adapters.AdapterFactory">
     <adapter
           type="org.eclipse.ui.model.IWorkbenchAdapter">
     </adapter>
  </factory>  
	</extension>
	<extension point="org.eclipse.ui.editors">
		<editor class="org.xwiki.eclipse.ui.editors.PageEditor" contributorClass="org.xwiki.eclipse.ui.editors.XWikiEditorActionContributor" icon="icons/xwiki.png" id="org.xwiki.eclipse.ui.editors.PageEditor" name="Page Editor">
      </editor>
  <editor
        class="org.xwiki.eclipse.ui.editors.ObjectEditor"
        icon="icons/xwiki.png"
        id="org.xwiki.eclipse.ui.editors.Object"
        name="Object Editor">
  </editor>
  <editor
        class="org.xwiki.eclipse.ui.editors.CommentEditor"
        icon="icons/page.comment.png"
        id="org.xwiki.eclipse.ui.editors.Comment"
        name="Comment Editor">
  </editor>
	</extension>
	<extension point="org.eclipse.ui.newWizards">
		<category id="org.xwiki.eclipse" name="XWiki Eclipse">
      </category>
		<wizard
        category="org.xwiki.eclipse"
        class="org.xwiki.eclipse.ui.wizards.NewConnectionWizard"
        finalPerspective="org.xwiki.eclipse.ui.perspectives.XWikiPerspective"
        hasPages="true"
        icon="icons/xwiki.png"
        id="org.xwiki.eclipse.ui.wizards.NewConnection"
        name="New connection"
        project="true">
      </wizard>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page class="org.xwiki.eclipse.ui.properties.DataManagerPropertiesPage" icon="icons/data.manager.png" id="org.xwiki.eclipse.ui.properties.DataManager" name="Data Manager" objectClass="org.xwiki.eclipse.storage.DataManager">
      </page>
		<page class="org.xwiki.eclipse.ui.properties.XWikiEclipseSpaceSummaryPropertiesPage" icon="icons/space.png" id="org.xwiki.eclipse.ui.properties.XWikiEclipseSpaceSummary" name="Space" objectClass="org.xwiki.eclipse.model.XWikiEclipseSpaceSummary">
      </page>
		<page class="org.xwiki.eclipse.ui.properties.XWikiEclipsePageSummaryPropertiesPage" icon="icons/page.png" id="org.xwiki.eclipse.ui.properties.XWikiEclipsePageSummary" name="Page" objectClass="org.xwiki.eclipse.model.XWikiEclipsePageSummary">
      </page>
  <page
        class="org.xwiki.eclipse.ui.properties.XWikiEclipseWikiSummaryPropertiesPage"
        icon="icons/xwiki.png"
        id="org.xwiki.eclipse.ui.properties.XWikiEclipseWikiSummary"
        name="Wiki"
        objectClass="org.xwiki.eclipse.model.XWikiEclipseWikiSummary">
  </page>
  <page
        class="org.xwiki.eclipse.ui.properties.XWikiEclipseAttachmentPropertiesPage"
        icon="icons/page.attachment.png"
        id="org.xwiki.eclipse.ui.properties.XWikiEclipseAttachment"
        name="Attachment"
        objectClass="org.xwiki.eclipse.model.XWikiEclipseAttachment">
  </page>
  <page
        class="org.xwiki.eclipse.ui.properties.XWikiEclipseCommentPropertiesPage"
        icon="icons/page.comment.png"
        id="org.xwiki.eclipse.ui.properties.XWikiEclipseComment"
        name="Comment"
        objectClass="org.xwiki.eclipse.model.XWikiEclipseComment">
  </page>
  <page
        class="org.xwiki.eclipse.ui.properties.XWikiEclipseTagPropertiesPage"
        icon="icons/tag.png"
        id="org.xwiki.eclipse.ui.properties.XWikiEclipseTag"
        name="Tag"
        objectClass="org.xwiki.eclipse.model.XWikiEclipseTag">
  </page>
  <page
        class="org.xwiki.eclipse.ui.properties.XWikiEclipseClassPropertiesPage"
        icon="icons/class.png"
        id="org.xwiki.eclipse.ui.properties.XWikiEclipseClass"
        name="Class"
        objectClass="org.xwiki.eclipse.model.XWikiEclipseClass">
  </page>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.DataManagerConnect"
        name="Connect">
      </command>
		<command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.DataManagerDisconnect"
        name="Disconnect">
      </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.NewPage"
        name="New page">
  </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.NewObject"
        name="New object">
  </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.Delete"
        name="Delete">
  </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.Refresh"
        name="Refresh">
  </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.RenamePage"
        name="Rename">
  </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.OpenPage"
        name="Open XWiki page">
  </command>
  <category
        id="org.xwiki.eclipse"
        name="XWiki Eclipse">
  </category>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.GrabSpace"
        name="Grab space">
  </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.DownloadAttachment"
        name="Download Attachment">
  </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.NewComment"
        name="New Comment">
  </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.ReplyToComment"
        name="Reply To Comment">
  </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.UpdateAttachment"
        name="Update Attachments">
  </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.UploadAttachment"
        name="Upload Attachments">
  </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.NewTag"
        name="New Tag">
  </command>
  <command
        categoryId="org.xwiki.eclipse"
        id="org.xwiki.eclipse.ui.commands.CopyPage"
        name="Copy">
  </command>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler class="org.xwiki.eclipse.ui.handlers.DataManagerConnectHandler" commandId="org.xwiki.eclipse.ui.commands.DataManagerConnect">
     <activeWhen>
        <iterate
              operator="and">
           <test
                 forcePluginActivation="true"
                 property="org.xwiki.eclipse.storage.DataManager.isConnected"
                 value="false">
           </test>
        </iterate>
     </activeWhen>
		</handler>
		<handler class="org.xwiki.eclipse.ui.handlers.DataManagerDisconnectHandler" commandId="org.xwiki.eclipse.ui.commands.DataManagerDisconnect">
			<activeWhen>
				<iterate operator="and">
					<test forcePluginActivation="true" property="org.xwiki.eclipse.storage.DataManager.isConnected" value="true">
               </test>
				</iterate>
			</activeWhen>
		</handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.NewPageHandler"
        commandId="org.xwiki.eclipse.ui.commands.NewPage">
     <activeWhen>
        <iterate
              operator="and">
           <or>
              <instanceof
                    value="org.xwiki.eclipse.storage.DataManager">
              </instanceof>
              <instanceof
                    value="org.xwiki.eclipse.model.XWikiEclipseSpaceSummary">
              </instanceof>
              <instanceof
                    value="org.xwiki.eclipse.model.XWikiEclipseWikiSummary">
              </instanceof>
           </or>
        </iterate>
     </activeWhen>
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.NewObjectHandler"
        commandId="org.xwiki.eclipse.ui.commands.NewObject">
     <activeWhen>
        <iterate
              operator="and">
           <instanceof
                 value="org.xwiki.eclipse.model.XWikiEclipsePageSummary">
           </instanceof>
        </iterate>
     </activeWhen>
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.DeleteXWikiElementHandler"
        commandId="org.xwiki.eclipse.ui.commands.Delete">
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.RefreshHandler"
        commandId="org.xwiki.eclipse.ui.commands.Refresh">
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.RenamePageHandler"
        commandId="org.xwiki.eclipse.ui.commands.RenamePage">
     <activeWhen>
        <iterate
              operator="and">
           <instanceof
                 value="org.xwiki.eclipse.model.XWikiEclipsePageSummary">
           </instanceof>
        </iterate>
     </activeWhen>
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.OpenPageHandler"
        commandId="org.xwiki.eclipse.ui.commands.OpenPage">
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.GrabSpaceHandler"
        commandId="org.xwiki.eclipse.ui.commands.GrabSpace">
     <activeWhen>
        <iterate
              operator="and">
           <or>
              <instanceof
                    value="org.xwiki.eclipse.model.XWikiEclipseSpaceSummary">
              </instanceof>
           </or>
        </iterate>
     </activeWhen>
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.XWikiEclipseAttachmentHandler"
        commandId="org.xwiki.eclipse.ui.commands.DownloadAttachment">
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.NewCommentHandler"
        commandId="org.xwiki.eclipse.ui.commands.NewComment">
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.NewCommentHandler"
        commandId="org.xwiki.eclipse.ui.commands.ReplyToComment">
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.XWikiEclipseAttachmentHandler"
        commandId="org.xwiki.eclipse.ui.commands.UpdateAttachment">
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.XWikiEclipseAttachmentHandler"
        commandId="org.xwiki.eclipse.ui.commands.UploadAttachment">
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.XWikiEclipseTagHandler"
        commandId="org.xwiki.eclipse.ui.commands.NewTag">
  </handler>
  <handler
        class="org.xwiki.eclipse.ui.handlers.CopyPageHandler"
        commandId="org.xwiki.eclipse.ui.commands.CopyPage">
     <activeWhen>
        <iterate
              operator="and">
           <instanceof
                 value="org.xwiki.eclipse.model.XWikiEclipsePageSummary">
           </instanceof>
        </iterate>
     </activeWhen>
  </handler>
	</extension>
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/xwiki.nature.png"
          id="org.xwiki.eclipse"
          natureId="org.xwiki.eclipse.XWikiEclipseNature">
    </image>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="popup:org.xwiki.eclipse.ui.views.Navigator?after=additions">
       <command
             commandId="org.eclipse.ui.newWizard"
             style="push">
       </command>
    </menuContribution>
    <menuContribution
          locationURI="menu:navigate">
       <command
             commandId="org.xwiki.eclipse.ui.commands.OpenPage"
             icon="icons/xwiki.png"
             style="push">
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="org.xwiki.eclipse.ui.commands.OpenPage"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+CTRL+P">
    </key>
 </extension>
 <extension
       point="org.eclipse.ui.workingSets">
    <workingSet
          icon="icons/xwiki.png"
          id="org.xwiki.eclipse"
          name="XWiki Eclipse"
          pageClass="org.xwiki.eclipse.ui.workingsets.XWikiEclipseWorkingSetPage">
    </workingSet>
 </extension>
 <extension
       point="org.eclipse.ui.elementFactories">
    <factory
          class="org.xwiki.eclipse.ui.workingsets.XWikiEclipseElementIdFactory"
          id="org.xwiki.eclipse.ui.workingsets.XWikiEclipseElementFactory">
    </factory>
 </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.xwiki.eclipse.ui.perspectives.XWikiPerspectiveFactory"
          icon="icons/xwiki.png"
          id="org.xwiki.eclipse.ui.perspectives.XWikiPerspective"
          name="XWiki Eclipse">
    </perspective>
 </extension>
</plugin>
