<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="org.xwiki.eclipse.XWikiEclipseNature" name="XWiki Eclipse Nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.xwiki.eclipse.core.XWikiEclipseNature">
         </run>
		</runtime>
	</extension>
</plugin>